# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

config SHIELD_CORNE_LEFT_W
    def_bool $(shields_list_contains,corne_left_w)

config SHIELD_CORNE_RIGHT_W
    def_bool $(shields_list_contains,corne_right_w)
